src/META-INF/wsdl/localhost_8003/ws/Batch.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsservers/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsservers/" name="BatchServerImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://wsservers/" schemaLocation="http://localhost:8003/ws/Batch?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="acceptData">
<part name="arg0" type="tns:meassure"></part>
</message>
<message name="acceptDataResponse"></message>
<message name="acceptError">
<part name="arg0" type="tns:errorTypes"></part>
</message>
<message name="acceptErrorResponse"></message>
<message name="getStatus"></message>
<message name="getStatusResponse">
<part name="return" type="xsd:base64Binary"></part>
</message>
<portType name="IBatchServer">
<operation name="acceptData">
<input wsam:Action="http://wsservers/IBatchServer/acceptDataRequest" message="tns:acceptData"></input>
<output wsam:Action="http://wsservers/IBatchServer/acceptDataResponse" message="tns:acceptDataResponse"></output>
</operation>
<operation name="acceptError">
<input wsam:Action="http://wsservers/IBatchServer/acceptErrorRequest" message="tns:acceptError"></input>
<output wsam:Action="http://wsservers/IBatchServer/acceptErrorResponse" message="tns:acceptErrorResponse"></output>
</operation>
<operation name="getStatus">
<input wsam:Action="http://wsservers/IBatchServer/getStatusRequest" message="tns:getStatus"></input>
<output wsam:Action="http://wsservers/IBatchServer/getStatusResponse" message="tns:getStatusResponse"></output>
</operation>
</portType>
<binding name="BatchServerImplPortBinding" type="tns:IBatchServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="acceptData">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://wsservers/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://wsservers/"></soap:body>
</output>
</operation>
<operation name="acceptError">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://wsservers/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://wsservers/"></soap:body>
</output>
</operation>
<operation name="getStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://wsservers/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://wsservers/"></soap:body>
</output>
</operation>
</binding>
<service name="BatchServerImplService">
<port name="BatchServerImplPort" binding="tns:BatchServerImplPortBinding">
<soap:address location="http://localhost:8003/ws/Batch"></soap:address>
</port>
</service>
</definitions>